<p>標題:
<%= @post.name %>
</p>

<p>內文:
<%= @post.content %>
</p>

<%= form_for [@post, @comment] do |f| %>
    <p>
      <%= f.text_area :content , :class => "form-control"%>
    </p>
    <%= f.submit "留言", :class => "btn btn-danger" %>
<% end %>

<h2>留言記錄</h2>

<% @post.comments.each do |c| %>
  <p>
    <%= c.content %>
    <% if c.user == current_user %>
    <%= link_to  '刪除', post_comment_path(@post, c), :method => :delete %>
    <% end %>
  </p>
<% end %>

<p><%= link_to '返回目錄', posts_path %></p>